/* ---Grid Styles--- */

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        'nav'
        'main'
        'footer';
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
    overflow: auto;
}

footer {
    grid-area: footer;
}