/* ---- Base Styles -----*/

* {
    box-sizing: border-box;
    /* padding: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    position: relative;
    display: block; */
  }
body {
  min-height: 100 vh;
}
html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  min-width: 320px;
  max-width: 1920;
  display: block;
}

header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 1em;
  text-align: center;
}

#main-header {
  color: rgb(109, 52, 61);
  text-align: center;
  padding: 1em;
  background: papayawhip; 
  margin: 0;
}

main {
  padding: 0rem 1.5rem 1rem 1.5rem;
  background-color: rgb(250, 237, 239);
  
}



/* #menu {
  display: none;
} */

.nav { 
  flex-direction: column;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  background: rgb(248, 246, 246);
   
}

.nav a {
  display: block;
	font-size: 1.125em;
	font-weight: 300;
  margin: 0;
	padding: .3em;
	border-bottom: 1px solid #ebecec;

}


a {
  text-decoration: none;
}

a:link {
  color: gray;
}

a:visited {
  color: rgb(54, 46, 46);
}

a:active {
  color: rgb(107, 59, 59);
}

p {
  margin: 0;
  /* padding-top: .8em; */
}

form {
  background: lightgrey;
  margin: 1em;
}

input {
  width: 95%;
  padding: .5em;
  margin: .5em;

}

input[type=text] {
  color: darkslategrey;

}

input[type=submit] {
  background: rgb(190, 166, 166);
  box-shadow: 1px 1px 3px gray;
}

.labelGroup {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}


footer {
    height: 8vh;
    text-align: center;
    background-color: lightgray;
} 


  /*-----Contact Form Styles------*/


  /* ----Media Queries---- */

  @media (max-width: 575px) {
    
  }
  
  @media (min-width: 576px) and (max-width: 768px) {
    nav{border: 5px solid blue;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    nav{border: 5px solid orange;
    }
      
  @media (min-width: 1024px) and (max-width: 1920px) {
    nav{border: 5px solid yellow;
    }
  }

  