/* ---- Base Styles -----*/

* {
    box-sizing: border-box;
  }

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  min-width: 320px;
  max-width: 1920;
}

h1 {
    color: thistle;
    text-align: center;

}

nav {
    height: 12vh;
    background-color: (255, 255, 255, 0.5);
    z-index: 100;
}

main {
    height: 100vh;
    padding: .5rem 1rem 1rem 1rem;
    background-color: rgb(250, 237, 239);
}

footer {
    height: 8vh;
    text-align: center;
    background-color: lightgray;
} 

div.background {
    background: url(../images/ramen.jpg) repeat;
    border: 2px solid black;
  }
  
  div.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
  }
  
  div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
  }

  /*-----Contact Form Styles------*/
  
  .form {
    
  }

  /* ----Media Queries---- */

  @media (max-width: 575px) {
    nav{border: 5px solid red;
    }
  }
  
  @media (min-width: 576px) and (max-width: 768px) {
    nav{border: 5px solid blue;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    nav{border: 5px solid orange;
    }
  }

  @media (min-width: 1024px) and (max-width: 1920px) {
    nav{border: 5px solid yellow;
    }
  }

  