/* ---- Base Styles -----*/

* {
    box-sizing: border-box;
  }

html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  min-width: 320px;
  max-width: 1920;
  display: block;
}


main {
  height: 100vh;
  padding: 3rem 1.5rem 1rem 1.5rem;
  background-color: rgb(250, 237, 239);
}

#main-header {
    color: rgb(109, 52, 61);
    text-align: center;
    padding: 1em;

}

#menu {
  display: none;
}

.nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    background: rgb(248, 246, 246);
   
}

.nav a {
  display: block;
	font-size: 1.125em;
	font-weight: 300;
  margin: 0;
	padding: .3em;
	border-bottom: 1px solid #ebecec;

}


a {
  text-decoration: none;
}

a:link {
  color: gray;
}

a:visited {
  color: rgb(54, 46, 46);
}

a:active {
  color: rgb(107, 59, 59);
}



footer {
    height: 8vh;
    text-align: center;
    background-color: lightgray;
} 


  /*-----Contact Form Styles------*/


  /* ----Media Queries---- */

  @media (max-width: 575px) {
    
  }
  
  @media (min-width: 576px) and (max-width: 768px) {
    nav{border: 5px solid blue;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    nav{border: 5px solid orange;
    }
        /*---Dropdown style---*/
    /* #menu {
    display: flex;
    z-index: 5;
    } */

    /* .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 100%;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 10px 16px;
      z-index: 1;
    } */

    /* .dropdown:hover {
      display: block;
    } */

    /* .dropdown-content a {
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #ddd;
    }

    .nav a:hover {
  box-shadow: 5px 5px 2px gray;
}

  } */

  @media (min-width: 1024px) and (max-width: 1920px) {
    nav{border: 5px solid yellow;
    }
  }

  